body{
    margin:0;
    overflow:hidden;
    background:#ffb6c1;
    font-family: Arial, sans-serif;
}

/* ===== TEXT ===== */
.text{
    position:fixed;
    top:35%;
    width:100%;
    text-align:center;
    font-size:60px;
    font-weight:bold;
    color:gold;
    text-shadow:0 0 25px red;
    z-index:10;
}

/* ===== DECOR CHUNG ===== */
.decor{
    position:fixed;
    pointer-events:none;
    z-index:2;
    animation: sway 8s ease-in-out infinite;
    transform-origin: top center;
    opacity:0.95;
}

/* Vị trí */
.top-left{ top:0; left:0; width:480px; animation-duration:7s; }
.top-right{ top:0; right:0; width:480px; animation-duration:9s; }
.top-center{ top:0; left:50%; transform:translateX(-50%); width:300px; animation-duration:6s; }

.bottom-left{
    bottom:0; left:0; width:360px ;
    transform-origin: bottom center;
    animation-duration:10s;
}
.bottom-right{
    bottom:0; right:0; width:360px;
    transform-origin: bottom center;
    animation-duration:8s;
}

/* Đung đưa */
@keyframes sway{
    0%{ transform: rotate(0deg); }
    50%{ transform: rotate(2deg); }
    100%{ transform: rotate(0deg); }
}

/* ===== CÁNH HOA ===== */
.petal{
    position:fixed;
    top:-40px;
    width:30px;
    pointer-events:none;
    z-index:3;
    animation: fall linear forwards;
}

@keyframes fall{
    to{
        transform: translateY(110vh) rotate(360deg);
        opacity:0.8;
    }
}